aiohttp==3.13.3
aiosignal==1.4.0
altgraph==0.17.5
attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
coverage==7.13.5
customtkinter==5.2.2
darkdetect==0.8.0
frozenlist==1.8.0
idna==3.11
iniconfig==2.3.0
keyboard==0.13.5
lcu-driver==3.0.2
multidict==6.7.1
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
pluggy==1.6.0
propcache==0.4.1
psutil==7.2.2
pyautogui==0.9.54
Pygments==2.20.0
pyinstaller-hooks-contrib==2026.6
pyinstaller==6.21.0
pypresence==4.6.1
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pystray==0.19.5
pytest-cov==7.1.0
pytest==9.0.3
pywin32-ctypes==0.2.3
pywin32==312
requests==2.32.5
shiboken6==6.11.0
six==1.17.0
tkinterdnd2==0.4.3
typing_extensions==4.16.0
urllib3==2.6.3
vulture==2.16
watchdog==6.0.0
websocket-client==1.9.0
websockets==16.0
windnd==1.0.7
yarl==1.23.0
﻿aiohappyeyeballs==2.6.1
